{% extends 'base.html' %}
{% load static %}
{%block content%}
<main role="main" class="container">
  <form method="GET" action="">
        <div class="form-row">
            
             <div class="form-group col-md-2">
                <label for="category">Site</label>
                <select id="category" class="form-control" name="site">
                  <option selected>Choose...</option>
                  {% for s in site %}
                  <option value="{{ s }}">{{ s }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="category">Prefix</label>
                <select id="category" class="form-control" name="prefix">
                  <option selected >Choose...</option>
                  {% for p in prefix %}
                  <option value="{{ p }}">{{ p }}</option>
                  {% endfor %}
                </select>
              </div>

          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>

          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
            
          </div>
          
          <div class="form-group  col-lg-3" style="margin: 26px 0 0 0">
            <button type="submit" class="btn  btn-dark btn-lg">Search</button>
            
          </div>
          
          </div>
          
       
        </div>
        
      </form>
    </main>
 
    

    
    {% if user.is_authenticated %}
{{query_contains_prefix}} {{query_contains_site}}
    <table class="table table-hover table-bordered table-inverse">
      <thead>
        <tr>
          <th scope="col">Site</th>
          <th scope="col">Date and Time</th>
          <th scope="col">Local Time and Date</th>
          <th scope="col">Prefix</th>
          <th scope="col">Path N:</th>
          <th scope="col">BGP AS Path</th>
          <th scope="col">BGP AS Path Length</th>
          <th scope="col">Best path Selection reason</th>
          <th scope="col">Metric</th>
          <th scope="col">LocalPref</th>
          <th scope="col">Weight</th>
          <th scope="col">Route Last Update</th>
          <th scope="col">Next Hope </th>
          <th scope="col">Next Hope Accessible</th>
          <th scope="col">Next Hope Metric</th>
          <th scope="col">Next Hope Used</th>
          <th scope="col">NextHope PeerId</th>
          <th scope="col">NextHope RouterId</th>
          <th scope="col">NextHope Hostname</th>
          <th scope="col">NextHope Peer Type</th>
     
        </tr>
      </thead>
        <tbody>
        
        
    
    {% if records  %}
      {% for record in records %}
    
      <tr>
        <td class="text-center">{{record.site}} </td>
        <td class="text-center">{{record.create_at}}</td>
        <td class="text-center">{{record.local_timezone}}</td>
        <td class="text-center">{{record.prefix}}</td>
        <td class="text-center">{{record.path}}</td>
        <td class="text-center">{{record.bgp_as_path}}</td>
        <td class="text-center">{{record.bgp_as_path_length}}</td>
        <td class="text-center">{{record.best_path_selection_reason}}</td>
        <td class="text-center">{{record.metric}}</td>
        
        <td class="text-center">{{record.localpref}}</td>
        <td class="text-center">{{record.weight}}</td>
        
        <td class="text-center">{{record.last_update}}</td>
        <td class="text-center">{{record.next_hop}}</td>
        
        <td class="text-center">{{record.next_hope_accessible}}</td>
        <td class="text-center">{{record.next_hope_used}}</td>
        <td class="text-center">{{record.next_hope_metric}}</td>
        
        <td class="text-center"> {{record.next_hope_peerId}}</td>
        <td class="text-center"> {{record.next_hope_routerId}}</td>
        <td class="text-center"> {{record.next_hope_hostname}}</td>
        <td class="text-center">{{record.next_hope_peer_type}}</td>
      </tr>
    
      {% endfor %}
{% comment %}   {{record}}
    {{record.has_previous}}
    {{record.has_next}}
    {{record.number}}
    {{record.paginator.num_pages}} {% endcomment %}
    
    
    {% if record.has_previous %}
         <a href="?page=1">$laquo First</a>
         <a href="?page={{record.previous_page_number}}">$laquo First</a>
    
    {% endif %}

    {% endif %}
    </tbody>
    </table>
    
    {% else %}
    <div class='col-md-6 offset-md-3'>
        <h1>Log in</h1>
        <form method='POST' action={% url 'home' %}>
            {% csrf_token %}
           
                <div class="mb-3">
                  <input type="text" class="form-control" name='username' placeholder='username' required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name='password' placeholder='password' required>
                </div>
                
                <button type="submit" class="btn btn-secondary">Log in</button>
             
        </form>
    
    
    </div>
    {% endif %}

{% endblock %}