{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<table class="table table-hover table-bordered table-inverse">
  <thead>
    <tr>
      <th scope="col">BGP data from DC</th>
      <th scope="col">Date and Time</th>
      <th scope="col">Local Time and Date</th>
      <th scope="col">Prefix</th>
      <th scope="col">Path N:</th>
      <th scope="col">BGP AS Path</th>
      <th scope="col">BGP AS Path Length</th>
      <th scope="col">Best path Selection reason</th>
      <th scope="col">Metric</th>
      <th scope="col">LocalPref</th>
      <th scope="col">Weight</th>
      <th scope="col">Route Last Update</th>
      <th scope="col">Next Hope </th>
      <th scope="col">Next Hope Accessible</th>
      <th scope="col">Next Hope Metric</th>
      <th scope="col">Next Hope Used</th>
      <th scope="col">NextHope PeerId</th>
      <th scope="col">NextHope RouterId</th>
      <th scope="col">NextHope Hostname</th>
      <th scope="col">NextHope Peer Type</th>
 
    </tr>
  </thead>
    <tbody>
    
    

{% if records  %}
  {% for record in records %}

  <tr>
    <td class="text-center">{{record.site}} </td>
    <td class="text-center">{{record.create_at}}</td>
    <td class="text-center">{{record.local_timezone}}</td>
    <td class="text-center">{{record.prefix}}</td>
    <td class="text-center">{{record.path}}</td>
    <td class="text-center">{{record.bgp_as_path}}</td>
    <td class="text-center">{{record.bgp_as_path_length}}</td>
    <td class="text-center">{{record.best_path_selection_reason}}</td>
    <td class="text-center">{{record.metric}}</td>
    <td class="text-center">{{record.weight}}</td>
    <td class="text-center">{{record.localpref}}</td>
    
    <td class="text-center">{{record.last_update}}</td>
    <td class="text-center">{{record.next_hop}}</td>
    
    <td class="text-center">{{record.next_hope_accessible}}</td>
    <td class="text-center">{{record.next_hope_used}}</td>
    <td class="text-center">{{record.next_hope_metric}}</td>
    
    <td class="text-center"> {{record.next_hope_peerId}}</td>
    <td class="text-center"> {{record.next_hope_routerId}}</td>
    <td class="text-center"> {{record.next_hope_hostname}}</td>
    <td class="text-center">{{record.next_hope_peer_type}}</td>
  </tr>

  {% endfor %}


{% endif %}
</tbody>
</table>

{% else %}
<div class='col-md-6 offset-md-3'>
    <h1>Log in</h1>
    <form method='POST' action={% url 'home' %}>
        {% csrf_token %}
       
            <div class="mb-3">
              <input type="text" class="form-control" name='username' placeholder='username' required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name='password' placeholder='password' required>
            </div>
            
            <button type="submit" class="btn btn-secondary">Log in</button>
         
    </form>


</div>
{% endif %}

{% endblock %}

